/* CSS variabels */
:root {
  --heading-clr: #000;
  --text-clr: #7a7a7a;

  /* Font families */
  --font-light: fontLight;
  --font-normal: fontNormal;
  --font-bold: fontBold;
}

/* Fonts UncInc */
@font-face {
  font-family: fontLight;
  src: url(./assets/MuseoLight.woff) format("woff");
}

@font-face {
  font-family: fontNormal;
  src: url(./assets/MuseoNormal.woff) format("woff");
}

@font-face {
  font-family: fontBold;
  src: url(./assets/MuseoBold.woff) format("woff");
}

/* Global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--font-bold);
  color: var(--heading-clr);
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
  font-family: var(--font-normal);
  color: var(--text-clr);
}

/* Navbar styling */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em 3em;
}

header nav {
  position: relative;
  height: 100%;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  padding-left: 3em;
}

header nav ul li a {
  font-family: var(--font-normal);
  font-weight: 900;
  color: var(--heading-clr);
  text-decoration: none;
}

header nav ul li a.active {
  color: var(--text-clr);
}

/* Projects component */
.projects {
  position: relative;
  width: 100%;
  padding: 2em 3em;
}

.projects-list {
  position: relative;
  display: grid;
  margin-top: 1em;
  grid-template-areas:
    "hvc toegift toegift brenger"
    "vandebron vandebron troopen troopen";
  grid-template-columns: 1.5fr 2fr 2fr 2fr;
  grid-gap: 1em;
  width: 100%;
  height: 50vh;
}

.projects-list article {
  width: 100%;
  background-color: var(--text-clr);
}

.projects-list article:nth-child(1) {
  grid-area: hvc;
}

.projects-list article:nth-child(2) {
  grid-area: toegift;
}

.projects-list article:nth-child(3) {
  grid-area: brenger;
}

.projects-list article:nth-child(4) {
  grid-area: vandebron;
}

.projects-list article:nth-child(5) {
  grid-area: troopen;
}

/* About component */
