/* CSS variabels */
:root {
  --heading-clr: #000;
  --text-clr: #7a7a7a;

  /* Font families */
  --font-light: fontLight;
  --font-normal: fontNormal;
  --font-bold: fontBold;
}

/* Fonts UncInc */
@font-face {
  font-family: fontLight;
  src: url(./assets/MuseoLight.woff) format("woff");
}

@font-face {
  font-family: fontNormal;
  src: url(./assets/MuseoNormal.woff) format("woff");
}

@font-face {
  font-family: fontBold;
  src: url(./assets/MuseoBold.woff) format("woff");
}

/* Global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--font-bold);
  color: var(--heading-clr);
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
  font-family: var(--font-normal);
  color: var(--text-clr);
}

/* Navbar styling */
